/*
Theme Name: Wordpress Template
Description: Template for Wordpress theme.
Author: kanonji
Author URI: http://twitter.com/kanonji
Theme URI: http://twitter.com/kanonji
Version: 0.1
Tags: template
License: MIT License
License URI: http://opensource.org/licenses/mit-license.php
*/
html{
    overflow-y:scroll;
}
body{
    background: #fff;
}

#header{
    outline: #fcc solid 3px;
}
#header:after{
    color: #fcc;
    content: "#header";
}
.post{
    outline: #cfc solid 3px;
}
.post:after{
    color: #cfc;
    content: ".post";
}
.meta{
    outline: #dfd solid 3px;
}
.meta:after{
    color: #dfd;
    content: ".meta";
}
.page{
    outline: #cfc solid 3px;
}
.page:after{
    color: #cfc;
    content: ".page";
}
#secondary{
    outline: #ccf solid 3px;
}
#secondary:after{
    color: #ccf;
    content: ".widgets";
}
#content{
    position: relative;
}
#content > *{
    width: 568px;
}
#content .widgets{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
}
